.content {
  font: bold 120px helvetica, arial, sans-serif;
  text-transform: uppercase;
}

input.content {
  width: 100%;
  border: 0;
  border-bottom: 5px dotted #999;
}

#submit {
  margin-top: 10px;
  font-size: 24px;
}

form {
  display: none;
}

#bottom {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font: x-small helvetica, arial, sans-serif;
  text-transform: uppercase;
}
